body {
    padding: 0 1em;
}

.active {
    max-width: 1150px;
    margin: auto;
}

.clear {
    clear: both;
}

.hd {
    background-color: rgb(30, 30, 30);
}

div a:hover {
    text-decoration: none;
    color: rgb(39, 166, 73) !important;
}

div a:link {
    color: rgb(53, 41, 149);
    text-decoration: none;
}

div a:visited {
    color: rgb(0, 0, 0);
}

.icon {
    width: 5em;
    float: left;
}

.user {
    float: right;
    padding:0.7em;
    text-align: right;
    padding-top: 1em;
}

.user_name {
    color: white;
    font-size: 20px;
}

.main {
    float: left;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 0.5em;
    margin-top: 0.5em;
    

}

table, td, th, tr {
    border: solid 1px ;
    border-collapse: collapse;
    margin: auto;
}

.table {
    margin: 3em;
}

table a:hover {
    color: blue;
}


.name {
    color: white;
    max-width: 10rem;
    height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    padding: 0.5em;
    text-transform: uppercase;
}

.log {
    padding: 0 0.5em;
    border: 1px solid white;
    border-radius: 25px;
    margin: 0.5em 0.5em;
    font-size: 20px;
}

.home_page {
    background-color: rgb(106, 106, 106);
    border-bottom: 0.5px solid rgb(16, 16, 16);
    margin-bottom: 2em;
}

form {
    margin: 0em;
}

.button {
    margin: 0.5em 0;
    margin-left: 0.5em;
    padding: 0 0.5em;
}

.add {
    width: 10%;
    float: right;
    background-color: black;
    color: wheat;
    margin-top: 1em;
}

.inform {
    margin-bottom: 2em;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.user a:link {
    color: white !important;

}