body {
    background-color: rgb(52, 52, 52);
    padding: 0 1em;
}

.active {
    max-width: 1150px;
    margin: auto;
}

.clear {
    clear: both;
}

.hd {
    background-color: rgb(30, 30, 30);
}

div a:hover {
    text-decoration: none;
    color: rgb(39, 166, 73) !important;
}

div a:link {
    color: white;
    text-decoration: none;
}

div a:visited {
    color: white;
}

.icon {
    width: 5em;
    float: left;
}

.user {
    float: right;
    padding:0.7em;
    height: 2.5em;
    text-align: right;
}

.genres {
    float: left;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 0.5em;
    margin-top: 0.5em;
}

.name {
    color: white;
    font-size: large;
    max-width: 10rem;
    height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    padding: 0.5em;
    text-transform: uppercase;

}

.log {
    padding: 0 0.5em;
    border: 1px solid white;
    border-radius: 25px;
    margin: 0.5em 0.5em;
    font-size: 20px;

}

.home_page {
    border-bottom: 0.5px solid rgb(130, 127, 127);
}

.movie {
   width: 100%;
   max-width: 10rem;
   margin: 2em 1em;
   float:inline-start;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    margin: 0em;
}

.comment {
    background-color: rgb(33, 32, 32);
    border-radius: 10px;
    margin-top: 1em;
    padding-bottom: 1em;
}

.h2 {
    padding: 0.5em 1em;
    color: rgb(240, 237, 237) !important;
    font-size: 20px;
    font-weight: bold;
}

#comment-text {
    width: 93%;
    max-width: 1060px;
    height: 2em;
    border-radius: 8px;
    margin:0 0 1em 1em;
    float: left;
}

.submit-comment {
    margin-bottom: 0.5 em;
    margin-right: 0.3em;
    float: right;
    width: 3%;
}

#comments-section {
    margin-top: 1em;
    color: white;
}

.user_icon {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    float: left;
}

.user_comment {
    padding: 0.5em;
    margin: 0.5em 0;
    background-color: rgb(23, 23, 23);
    border-radius: 10px;
}

.cmt_info {
    margin-bottom: 0.3em;
}

.cmt_main {
    width: 95%;
    float: right;
}



